 # Project name : Google Playstore Apps Analysis & Visualization
 # Team name : Cluster champ
 ## Team Member : Abdul Jaweed, Masna Ashraf, Shaziya Shaikh and Tanu Rajput

## About the project

In this project, you will be working on a real-world dataset of the google play store, one of the most used applications for downloading android apps. This project aims on cleaning the dataset, analyze the given dataset, and mining informational quality insights. This project also involves visualizing the data to better and easily understand trends and different categories.

## Project Description

This project will help you understand how a real-world database is analyzed using SQL, how to get maximum available insights from the dataset, pre-process the data using python for a better upcoming performance, how a structured query language helps us retrieve useful information from the database, and visualize the data with the power bi tool.

# Module 1: Pre-processing, Analyzing data using Python and SQL.

In this module, you will query the dataset using structured query language to gain insights from the database. The problem statements to be solved will be provided to you and you need to provide the solution for the same using your logic. Different concepts of SQL will be used in this process such as aggregating the data, grouping the data, ordering the data, etc. Module 1 consists of subtasks which are as follows

In [70]:
#importing libraries

import numpy as np
import pandas as pd
from numpy import nan

In [71]:
# import playstore_app data set

app=pd.read_csv("playstore_apps.csv",index_col='App')

In [72]:
# drop duplicate values

app.drop_duplicates(keep=False,inplace=True)

In [73]:
app.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
App,,,,,,,,,,,,
Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,10000.0,Free,0.0,Everyone,Art & Design,07-01-2018,1.0.0,4.0.3 and up
Coloring book moana,ART_AND_DESIGN,3.9,967.0,14M,500000.0,Free,0.0,Everyone,Art & Design;Pretend Play,15-01-2018,2.0.0,4.0.3 and up
"U Launcher Lite â€“ FREE Live Cool Themes, Hide Apps",ART_AND_DESIGN,4.7,87510.0,8.7M,5000000.0,Free,0.0,Everyone,Art & Design,01-08-2018,1.2.4,4.0.3 and up
Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,25M,50000000.0,Free,0.0,Teen,Art & Design,08-06-2018,Varies with device,4.2 and up
Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2.8M,100000.0,Free,0.0,Everyone,Art & Design;Creativity,20-06-2018,1.1,4.4 and up

In [74]:
app.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9930 entries, Photo Editor & Candy Camera & Grid & ScrapBook to iHoroscope - 2018 Daily Horoscope & Astrology
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        9930 non-null   object
 1   Rating          8487 non-null   float64
 2   Reviews         9929 non-null   float64
 3   Size            9930 non-null   object
 4   Installs        9929 non-null   float64
 5   Type            9929 non-null   object
 6   Price           9929 non-null   float64
 7   Content Rating  9929 non-null   object
 8   Genres          9930 non-null   object
 9   Last Updated    9929 non-null   object
 10  Current Ver     9922 non-null   object
 11  Android Ver     9927 non-null   object
dtypes: float64(4), object(8)
memory usage: 1008.5+ KB

In [75]:
#find % of misssing value in each column
def no_perc_null(df):
    no_of_null=df.isnull().sum()
    percentage_of_null=df.isnull().sum()/len(df)*100
    dtypecol=df.dtypes
    null_val=pd.concat([no_of_null,percentage_of_null,dtypecol],axis=1)
    null_val_new=null_val.rename(columns={0:"Null values",1:"Percentage",2:"Dataype"})
    return null_val_new
no_perc_null(app)

                Null values  Percentage  Dataype
Category                  0    0.000000   object
Rating                 1443   14.531722  float64
Reviews                   1    0.010070  float64
Size                      0    0.000000   object
Installs                  1    0.010070  float64
Type                      1    0.010070   object
Price                     1    0.010070  float64
Content Rating            1    0.010070   object
Genres                    0    0.000000   object
Last Updated              1    0.010070   object
Current Ver               8    0.080564   object
Android Ver               3    0.030211   object

In [76]:
# Find number of uniques values in column
print("Pring unique values of each column")
for i in app.columns[:]:
  print("*"*70)
  print("number of unique values of ",i," column :",app[i].nunique())
  print("unique values:")
  print(app[i].unique())

Pring unique values of each column
**********************************************************************
number of unique values of  Category  column : 34
unique values:
['ART_AND_DESIGN' 'AUTO_AND_VEHICLES' 'BEAUTY' 'BOOKS_AND_REFERENCE'
 'BUSINESS' 'COMICS' 'COMMUNICATION' 'DATING' 'EDUCATION' 'ENTERTAINMENT'
 'EVENTS' 'FINANCE' 'FOOD_AND_DRINK' 'HEALTH_AND_FITNESS' 'HOUSE_AND_HOME'
 'LIBRARIES_AND_DEMO' 'LIFESTYLE' 'GAME' 'FAMILY' 'MEDICAL' 'SOCIAL'
 'SHOPPING' 'PHOTOGRAPHY' 'SPORTS' 'TRAVEL_AND_LOCAL' 'TOOLS'
 'PERSONALIZATION' 'PRODUCTIVITY' 'PARENTING' 'WEATHER' 'VIDEO_PLAYERS'
 'NEWS_AND_MAGAZINES' 'MAPS_AND_NAVIGATION' '1.9']
**********************************************************************
number of unique values of  Rating  column : 40
unique values:
[ 4.1  3.9  4.7  4.5  4.3  4.4  3.8  4.2  4.6  3.2  4.   nan  4.8  4.9
  3.6  3.7  3.3  3.4  3.5  3.1  5.   2.6  3.   2.5  1.   1.9  2.9  2.8
  2.3  2.2  1.7  2.   1.8  2.7  2.4  1.6  2.1  1.4  1.5  1.2 19. ]
**********************************************************************
number of unique values of  Reviews  column : 5665
unique values:
[1.59000e+02 9.67000e+02 8.75100e+04 ... 6.03000e+02 1.19500e+03
 3.98307e+05]
**********************************************************************
number of unique values of  Size  column : 461
unique values:
['19M' '14M' '8.7M' '25M' '2.8M' '5.6M' '29M' '33M' '3.1M' '28M' '12M'
 '20M' '21M' '37M' '2.7M' '5.5M' '17M' '39M' '31M' '4.2M' '7.0M' '23M'
 '6.0M' '6.1M' '4.6M' '9.2M' '5.2M' '11M' '24M' 'Varies with device'
 '9.4M' '15M' '10M' '1.2M' '26M' '8.0M' '7.9M' '56M' '57M' '35M' '54M'
 '201k' '3.6M' '5.7M' '8.6M' '2.4M' '27M' '2.5M' '16M' '3.4M' '8.9M'
 '3.9M' '2.9M' '38M' '32M' '5.4M' '18M' '1.1M' '2.2M' '4.5M' '9.8M' '52M'
 '9.0M' '6.7M' '30M' '2.6M' '7.1M' '3.7M' '22M' '7.4M' '6.4M' '3.2M'
 '8.2M' '9.9M' '4.9M' '9.5M' '5.0M' '5.9M' '13M' '73M' '6.8M' '3.5M'
 '4.0M' '2.3M' '7.2M' '2.1M' '42M' '7.3M' '9.1M' '55M' '23k' '6.5M' '1.5M'
 '7.5M' '46M' '8.3M' '4.3M' '4.7M' '3.3M' '40M' '7.8M' '8.8M' '6.6M'
 '5.1M' '61M' '66M' '79k' '8.4M' '118k' '44M' '695k' '1.6M' '6.2M' '18k'
 '53M' '1.4M' '3.0M' '5.8M' '3.8M' '9.6M' '45M' '63M' '49M' '4.4M' '70M'
 '6.9M' '9.3M' '10.0M' '8.1M' '36M' '41M' '51M' '84M' '97M' '2.0M' '1.9M'
 '1.8M' '5.3M' '48M' '47M' '556k' '526k' '76M' '7.6M' '59M' '9.7M' '78M'
 '8.5M' '72M' '43M' '7.7M' '77M' '6.3M' '334k' '34M' '93M' '65M' '79M'
 '100M' '58M' '50M' '68M' '64M' '94M' '232k' '99M' '624k' '95M' '8.5k'
 '41k' '292k' '11k' '80M' '1.7M' '67M' '74M' '62M' '69M' '75M' '85M' '82M'
 '96M' '87M' '60M' '71M' '98M' '86M' '91M' '81M' '92M' '83M' '88M' '862k'
 '899k' '378k' '266k' '375k' '1.3M' '975k' '980k' '4.1M' '89M' '696k'
 '544k' '525k' '920k' '779k' '853k' '720k' '713k' '4.8M' '772k' '318k'
 '58k' '241k' '196k' '857k' '51k' '953k' '865k' '251k' '930k' '540k'
 '313k' '746k' '203k' '26k' '314k' '239k' '371k' '220k' '730k' '756k'
 '91k' '293k' '17k' '74k' '14k' '317k' '78k' '924k' '902k' '818k' '81k'
 '939k' '169k' '45k' '475k' '965k' '90M' '545k' '61k' '283k' '655k' '714k'
 '93k' '872k' '121k' '322k' '1.0M' '976k' '172k' '238k' '549k' '206k'
 '954k' '444k' '717k' '210k' '609k' '308k' '705k' '306k' '904k' '473k'
 '175k' '350k' '383k' '454k' '421k' '70k' '812k' '442k' '842k' '417k'
 '412k' '459k' '478k' '335k' '782k' '721k' '430k' '429k' '192k' '200k'
 '460k' '728k' '496k' '816k' '414k' '506k' '887k' '613k' '243k' '569k'
 '778k' '683k' '592k' '319k' '186k' '840k' '647k' '191k' '373k' '437k'
 '598k' '716k' '585k' '982k' '222k' '219k' '55k' '948k' '323k' '691k'
 '511k' '951k' '963k' '25k' '554k' '351k' '27k' '82k' '208k' '913k' '514k'
 '551k' '29k' '103k' '898k' '743k' '116k' '153k' '209k' '353k' '499k'
 '173k' '597k' '809k' '122k' '411k' '400k' '801k' '787k' '237k' '50k'
 '643k' '986k' '97k' '516k' '837k' '780k' '961k' '269k' '20k' '498k'
 '600k' '749k' '642k' '881k' '72k' '656k' '601k' '221k' '228k' '108k'
 '940k' '176k' '33k' '663k' '34k' '942k' '259k' '164k' '458k' '245k'
 '629k' '28k' '288k' '775k' '785k' '636k' '916k' '994k' '309k' '485k'
 '914k' '903k' '608k' '500k' '54k' '562k' '847k' '957k' '688k' '811k'
 '270k' '48k' '329k' '523k' '921k' '874k' '981k' '784k' '280k' '24k'
 '518k' '754k' '892k' '154k' '860k' '364k' '387k' '626k' '161k' '879k'
 '39k' '970k' '170k' '141k' '160k' '144k' '143k' '190k' '376k' '193k'
 '246k' '73k' '658k' '992k' '253k' '420k' '404k' '1,000+' '470k' '226k'
 '240k' '89k' '234k' '257k' '861k' '467k' '157k' '44k' '676k' '67k' '552k'
 '885k' '1020k' '582k' '619k']
**********************************************************************
number of unique values of  Installs  column : 20
unique values:
[1.e+04 5.e+05 5.e+06 5.e+07 1.e+05 5.e+04 1.e+06 1.e+07 5.e+03 1.e+08
 1.e+09 1.e+03 5.e+08 5.e+01 1.e+02 5.e+02 1.e+01 1.e+00 5.e+00 0.e+00
    nan]
**********************************************************************
number of unique values of  Type  column : 3
unique values:
['Free' 'Paid' nan '0']
**********************************************************************
number of unique values of  Price  column : 89
unique values:
[  0.     3.99   6.99   1.49   2.99   7.99   5.99   4.99   3.49   1.99
   9.99   7.49   0.99   1.     2.49  10.99   1.5   14.99  15.99  74.99
  39.99   3.95  29.99   4.49   1.7    8.99   2.     3.88  25.99 399.99
  17.99 400.     3.02   1.76   4.84   4.77   1.61   2.5   19.99   1.59
   6.49   1.29   5.    13.99 299.99 379.99  37.99  18.99 389.99  19.9
   8.49   1.75  11.99  14.     4.85  46.99   5.49 109.99 154.99   3.08
   2.59   4.8    1.96  19.4    3.9    4.59  15.46  10.     3.04  12.99
   4.29   2.6    3.28   4.6   28.99   2.95   2.9    1.97  24.99 200.
  89.99   2.56  30.99   3.61 394.99   1.26    nan  16.99   1.2    1.04]
**********************************************************************
number of unique values of  Content Rating  column : 6
unique values:
['Everyone' 'Teen' 'Everyone 10+' 'Mature 17+' 'Adults only 18+' 'Unrated'
 nan]
**********************************************************************
number of unique values of  Genres  column : 119
unique values:
['Art & Design' 'Art & Design;Pretend Play' 'Art & Design;Creativity'
 'Art & Design;Action & Adventure' 'Auto & Vehicles' 'Beauty'
 'Books & Reference' 'Business' 'Comics' 'Comics;Creativity'
 'Communication' 'Dating' 'Education;Education' 'Education'
 'Education;Creativity' 'Education;Music & Video'
 'Education;Action & Adventure' 'Education;Pretend Play'
 'Education;Brain Games' 'Entertainment' 'Entertainment;Music & Video'
 'Entertainment;Brain Games' 'Entertainment;Creativity' 'Events' 'Finance'
 'Food & Drink' 'Health & Fitness' 'House & Home' 'Libraries & Demo'
 'Lifestyle' 'Lifestyle;Pretend Play' 'Adventure;Action & Adventure'
 'Arcade' 'Casual' 'Card' 'Casual;Pretend Play' 'Action' 'Strategy'
 'Puzzle' 'Sports' 'Music' 'Word' 'Racing' 'Casual;Creativity'
 'Casual;Action & Adventure' 'Adventure' 'Board' 'Trivia' 'Simulation'
 'Role Playing' 'Simulation;Education' 'Action;Action & Adventure'
 'Casual;Brain Games' 'Simulation;Action & Adventure'
 'Educational;Creativity' 'Puzzle;Brain Games' 'Educational;Education'
 'Card;Brain Games' 'Educational;Brain Games' 'Educational;Pretend Play'
 'Entertainment;Education' 'Casual;Education' 'Music;Music & Video'
 'Racing;Action & Adventure' 'Arcade;Pretend Play'
 'Simulation;Pretend Play' 'Puzzle;Creativity' 'Sports;Action & Adventure'
 'Educational;Action & Adventure' 'Arcade;Action & Adventure'
 'Entertainment;Action & Adventure' 'Puzzle;Action & Adventure'
 'Strategy;Action & Adventure' 'Music & Audio;Music & Video'
 'Health & Fitness;Education' 'Adventure;Education' 'Board;Brain Games'
 'Board;Action & Adventure' 'Board;Pretend Play'
 'Entertainment;Pretend Play' 'Video Players & Editors;Creativity'
 'Card;Action & Adventure' 'Medical' 'Social' 'Shopping' 'Photography'
 'Travel & Local' 'Travel & Local;Action & Adventure' 'Tools'
 'Tools;Education' 'Personalization' 'Productivity' 'Parenting'
 'Parenting;Music & Video' 'Parenting;Education' 'Parenting;Brain Games'
 'Weather' 'Video Players & Editors'
 'Video Players & Editors;Music & Video' 'News & Magazines'
 'Maps & Navigation' 'Health & Fitness;Action & Adventure'
 'Role Playing;Pretend Play' 'Educational' 'Casino'
 'Adventure;Brain Games' 'Role Playing;Action & Adventure'
 'Trivia;Education' 'Lifestyle;Education' 'Books & Reference;Creativity'
 'Books & Reference;Education' 'Puzzle;Education' 'Role Playing;Education'
 'Role Playing;Brain Games' 'Strategy;Education' 'Racing;Pretend Play'
 'Communication;Creativity' 'February 11, 2018' 'Strategy;Creativity']
**********************************************************************
number of unique values of  Last Updated  column : 1373
unique values:
['07-01-2018' '15-01-2018' '01-08-2018' ... '20-01-2014' '16-02-2014'
 '23-03-2014']
**********************************************************************
number of unique values of  Current Ver  column : 2698
unique values:
['1.0.0' '2.0.0' '1.2.4' ... '1.0.612928' '0.3.4' '2.0.148.0']
**********************************************************************
number of unique values of  Android Ver  column : 33
unique values:
['4.0.3 and up' '4.2 and up' '4.4 and up' '2.3 and up' '3.0 and up'
 '4.1 and up' '4.0 and up' '2.3.3 and up' 'Varies with device'
 '2.2 and up' '5.0 and up' '6.0 and up' '1.6 and up' '1.5 and up'
 '2.1 and up' '7.0 and up' '5.1 and up' '4.3 and up' '4.0.3 - 7.1.1'
 '2.0 and up' '3.2 and up' '4.4W and up' '7.1 and up' '7.0 - 7.1.1'
 '8.0 and up' '5.0 - 8.0' '3.1 and up' '2.0.1 and up' '4.1 - 7.1.1' nan
 '5.0 - 6.0' '1.0 and up' '2.2 - 7.1.1' '5.0 - 7.1.1']

In [29]:
# find Category is equal to 1.9 and drop that row
print(app[app['Category'] == '1.9'])

                                        Category  Rating  Reviews    Size  \
App
Life Made WI-Fi Touchscreen Photo Frame      1.9    19.0      NaN  1,000+

                                         Installs Type  Price Content Rating  \
App
Life Made WI-Fi Touchscreen Photo Frame       NaN    0    NaN            NaN

                                                    Genres Last Updated  \
App
Life Made WI-Fi Touchscreen Photo Frame  February 11, 2018          NaN

                                        Current Ver Android Ver
App
Life Made WI-Fi Touchscreen Photo Frame  4.0 and up         NaN

In [30]:

app.drop("Life Made WI-Fi Touchscreen Photo Frame",inplace=True)

In [31]:
# Add 0 in place of NAN value in Ratings
app["Rating"] = app["Rating"].replace(np.nan,0 )

In [32]:
# drop NAN values
app.dropna(inplace=True)

In [63]:
# rename Columns 
app=app.rename(columns={"Current Ver": "current_Ver","Android Ver":"Android_Ver","Last Updated":"Last_Updated","Content Rating":"Content_Rating"})

In [64]:
app.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9918 entries, Photo Editor & Candy Camera & Grid & ScrapBook to iHoroscope - 2018 Daily Horoscope & Astrology
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        9918 non-null   object
 1   Rating          9918 non-null   float64
 2   Reviews         9918 non-null   float64
 3   Size            9918 non-null   object
 4   Installs        9918 non-null   float64
 5   Type            9918 non-null   object
 6   Price           9918 non-null   float64
 7   Content_Rating  9918 non-null   object
 8   Genres          9918 non-null   object
 9   Last_Updated    9918 non-null   object
 10  current_Ver     9918 non-null   object
 11  Android_Ver     9918 non-null   object
dtypes: float64(4), object(8)
memory usage: 1007.3+ KB

In [77]:
# read Playstore_reviews data
reviews=pd.read_csv("playstore_reviews.csv",index_col='App')

In [78]:
reviews.head()

,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
App,,,,
10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
10 Best Foods for You,NaN,NaN,NaN,NaN
10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [79]:
reviews.shape

(64295, 4)

In [80]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64295 entries, 10 Best Foods for You to Houzz Interior Design Ideas
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Translated_Review       37427 non-null  object
 1   Sentiment               37432 non-null  object
 2   Sentiment_Polarity      37432 non-null  float64
 3   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(2)
memory usage: 2.5+ MB

In [81]:
# drop NAN values
reviews.dropna(axis=0,inplace=True)

In [82]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37427 entries, 10 Best Foods for You to Housing-Real Estate & Property
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Translated_Review       37427 non-null  object
 1   Sentiment               37427 non-null  object
 2   Sentiment_Polarity      37427 non-null  float64
 3   Sentiment_Subjectivity  37427 non-null  float64
dtypes: float64(2), object(2)
memory usage: 1.4+ MB

In [83]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [84]:
quotes = '"'
# Remove double quotes

def remove_quotes(text):
    for char in quotes:
        text = text.replace(char, '')
    return text

In [85]:
reviews['Translated_Review'].apply(remove_quotes)

App
10 Best Foods for You             I like eat delicious food. That's I'm cooking ...
10 Best Foods for You               This help eating healthy exercise regular basis
10 Best Foods for You                    Works great especially going grocery store
10 Best Foods for You                                                  Best idea us
10 Best Foods for You                                                      Best way
                                                        ...
Housing-Real Estate & Property    Most ads older many agents ..not much owner po...
Housing-Real Estate & Property    If photos posted portal load, fit purpose. I'm...
Housing-Real Estate & Property    Dumb app, I wanted post property rent give opt...
Housing-Real Estate & Property    I property business got link SMS happy perform...
Housing-Real Estate & Property    Useless app, I searched flats kondapur, Hydera...
Name: Translated_Review, Length: 37427, dtype: object

In [88]:
reviews.to_csv("cleaned_review.csv",encoding='utf-8')

In [89]:
app.to_csv("cleaned_app.csv",encoding='utf-8')