 # Project name : Google Playstore Apps Analysis & Visualization
 # Team name : Cluster champ
 ## Team Member : Abdul Jaweed, Masna Ashraf, Shaziya Shaikh and Tanu Rajput

## About the project

In this project, you will be working on a real-world dataset of the google play store, one of the most used applications for downloading android apps. This project aims on cleaning the dataset, analyze the given dataset, and mining informational quality insights. This project also involves visualizing the data to better and easily understand trends and different categories.

## Project Description

This project will help you understand how a real-world database is analyzed using SQL, how to get maximum available insights from the dataset, pre-process the data using python for a better upcoming performance, how a structured query language helps us retrieve useful information from the database, and visualize the data with the power bi tool.

# Module 1: Pre-processing, Analyzing data using Python and SQL.

In this module, you will query the dataset using structured query language to gain insights from the database. The problem statements to be solved will be provided to you and you need to provide the solution for the same using your logic. Different concepts of SQL will be used in this process such as aggregating the data, grouping the data, ordering the data, etc. Module 1 consists of subtasks which are as follows

In [1]:
# import libraries

import pymysql
import pandas as pd
import sqlalchemy
import warnings
warnings.filterwarnings('ignore')

In [5]:
db_name = "google-app"
df_host = "localhost"
db_username = "root"
db_password = ""

In [6]:
try:
    conn = pymysql.connect(host=df_host, 
                           port=int(3306), 
                           user=db_username,
                           password=db_password, 
                           database=db_name)
except e:
    print(e)

In [4]:
if conn:
    print("Successfully connected")
else:
    print("Error")

Successfully connected

### Q1. Which apps have the highest rating in the given available dataset ?

In [7]:
query_1 = pd.read_sql_query("SELECT APP,Rating  FROM app WHERE Rating=(SELECT MAX(Rating) From app);", conn)

In [8]:
query_1

                                            APP  Rating
0                  Hojiboy Tojiboyev Life Hacks     5.0
1                 American Girls Mobile Numbers     5.0
2                                  Awake Dating     5.0
3                         Spine- The dating app     5.0
4    Girls Live Talk - Free Text and Video Chat     5.0
..                                          ...     ...
263                           Mad Dash Fo' Cash     5.0
264                       GKPB FP Online Church     5.0
265                            Monster Ride Pro     5.0
266                             Fr. Daoud Lamei     5.0
267            Fr. Mike Schmitz Audio Teachings     5.0

[268 rows x 2 columns]

### Q2. What are the number of installs and reviews for the above apps?Return the apps with the highest reviews to the top.

In [9]:
query_2 = pd.read_sql_query("SELECT App, Installs, Reviews FROM app WHERE Rating = (SELECT MAX(Rating) FROM app) ORDER BY Reviews DESC LIMIT 10;", conn)

In [10]:
query_2

                                                 App  Installs  Reviews
0                                         Ríos de Fe      1000      141
1  FD Calculator (EMI, SIP, RD & Loan Eligilibility)      1000      104
2                                         Oración CX      5000      103
3                     Barisal University App-BU Face      1000      100
4                                         Master E.K      1000       90
5                                            CL REPL      1000       47
6                                             AJ Cam       100       44
7                                            Ek Vote       500       43
8                        CS & IT Interview Questions      1000       43
9   AI Today : Artificial Intelligence News & AI 101       100       43

### Q3. Which app has the highest number of reviews? Also, mention the number of reviews and category of the app

In [11]:
query_3 = pd.read_sql_query("SELECT App, Reviews, Category FROM app WHERE Reviews = (SELECT MAX(Reviews) FROM app);", conn)

In [12]:
query_3

        App   Reviews Category
0  Facebook  78158306   SOCIAL

### Q4. What is the total amount of revenue generated by the google playstore by hosting apps? (Whenever a user buys apps from the google play store, the amount is considered in the revenue)

In [13]:
query_4 = pd.read_sql_query("SELECT SUM(Price) as total_revenue FROM app;", conn)

In [14]:
query_4

   total_revenue
0        10183.0

### Q5. Which Category of google play store apps has the highest number of installs? also, find out the total number of installs for that particular category.

In [13]:
query_5 = pd.read_sql_query("SELECT Category, SUM(Installs) as total_installs FROM app GROUP BY Category HAVING SUM(Installs) = (SELECT MAX(total_installs) FROM (SELECT SUM(Installs) as total_installs FROM app GROUP BY Category) as temp);", conn)

In [14]:
query_5

  Category  total_installs
0     GAME    2.800202e+10

### Q6. Which Genre has the most number of published apps ?

In [15]:
query_6 = pd.read_sql_query("SELECT Genres, COUNT(*) as num_published_apps FROM app GROUP BY Genres HAVING COUNT(*) = (SELECT MAX(num_published_apps) FROM (SELECT COUNT(*) as num_published_apps FROM app GROUP BY Genres) as temp);", conn)

In [16]:
query_6

  Genres  num_published_apps
0  Tools                 842

### Q7. Provide the list of all games ordered in such a way that the game that has the highest number of installs is displayed on the top (to avoid duplicate results use distinct)

In [18]:
query_7 = pd.read_sql_query("SELECT DISTINCT App, Installs FROM app WHERE Category = 'GAME' ORDER BY Installs DESC;", conn)

In [19]:
query_7

                   App    Installs
0       Subway Surfers  1000000000
1     Candy Crush Saga   500000000
2       My Talking Tom   500000000
3                  Pou   500000000
4         Temple Run 2   500000000
..                 ...         ...
954   Bi-Tank Ads Free           1
955  D+H Reaction Wall           1
956            Mu.F.O.           1
957           Ra Ga Ba           1
958          YAKALA AY           1

[959 rows x 2 columns]

### Q8. Provide the list of apps that can work on android version 4.0.3 and UP.

In [26]:
query_8 = pd.read_sql_query("SELECT App ,Android_Ver FROM app WHERE Android_Ver like '4.0.3 and up\r';", conn)

In [27]:
query_8

                                                    App     Android_Ver
0        Photo Editor & Candy Camera & Grid & ScrapBook  4.0.3 and up\r
1                                   Coloring book moana  4.0.3 and up\r
2     U Launcher Lite – FREE Live Cool Themes, Hide ...  4.0.3 and up\r
3               Smoke Effect Photo Maker - Smoke Editor  4.0.3 and up\r
4                         Kids Paint Free - Drawing Fun  4.0.3 and up\r
...                                                 ...             ...
1396                                     Fr Daoud Lamei  4.0.3 and up\r
1397                                      Fr Agnel Pune  4.0.3 and up\r
1398                                            Poop FR  4.0.3 and up\r
1399                                       List iptv FR  4.0.3 and up\r
1400                                 Fr Agnel Ambarnath  4.0.3 and up\r

[1401 rows x 2 columns]

### Q9. How many apps from the given data set are free? Also, provide the number of paid apps.

In [31]:
query_9 = pd.read_sql_query("SELECT COUNT(*) as num_free_apps FROM app WHERE price = 0 union SELECT COUNT(*) as num_Paid_apps FROM app WHERE price > 0;", conn)

In [32]:
query_9

   num_free_apps
0           9198
1            731

### Q10. Which is the best dating app? (Best dating app is the one having the highest number of Reviews)

In [33]:
query_10 = pd.read_sql_query("SELECT App, Reviews FROM app WHERE Category = 'Dating' ORDER BY Reviews DESC LIMIT 1;", conn)

In [34]:
query_10

                              App  Reviews
0  Zoosk Dating App: Meet Singles   516917

### Q11. Get the number of reviews having positive sentiment and number of reviews having negative sentiment for the app 10 best foods for you and compare them

In [38]:
query11 = pd.read_sql_query("SELECT SUM(Sentiment='Positive') AS Positive_Review ,SUM(Sentiment='Negative') AS Negative_Review , (SUM(Sentiment='Positive') - SUM(Sentiment='Negative')) AS comparison from review where App like '10 Best Foods for You';",conn)

In [39]:
query11

   Positive_Review  Negative_Review  comparison
0             79.0              5.0        74.0

### Q12. Which comments of ASUS SuperNote have sentiment polarity and sentiment subjectivity both as 1?

In [40]:
query12 = pd.read_sql_query("SELECT * FROM review WHERE App like 'ASUS SuperNote' AND Sentiment_Polarity=1 AND Sentiment_Subjectivity=1;",conn)

In [41]:
query12

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,ASUS SuperNote,Awesome,Positive,1.0,1.0

### Q13. Get all the neutral sentiment reviews for the app Abs Training-Burn belly fat

In [42]:
query13= pd.read_sql_query("SELECT * FROM review WHERE  APP like 'Abs Training-Burn belly fat' AND Sentiment = 'neutral';", conn)

In [43]:
query13

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,Abs Training-Burn belly fat,I would recommend anyone struggling exercise a...,Neutral,0.0,0.0
1,Abs Training-Burn belly fat,I m sticking literally kicked booty pain gain,Neutral,0.0,0.0
2,Abs Training-Burn belly fat,Needs work voice tells take break voice keeps ...,Neutral,0.0,0.0
3,Abs Training-Burn belly fat,Pop ads middle night Taking phone F app,Neutral,0.0,0.0
4,Abs Training-Burn belly fat,I day day I saw difference I went XL medium size,Neutral,0.0,0.0

### Q14. Extract all negative sentiment reviews for Adobe Acrobat Reader with their sentiment polarity and sentiment subjectivity

In [44]:
query14= pd.read_sql_query("SELECT App, Sentiment,Sentiment_Polarity, Sentiment_subjectivity FROM review WHERE  APP like 'Adobe Acrobat Reader' AND Sentiment = 'Negative';", conn)

In [45]:
query14

                     App Sentiment  Sentiment_Polarity  Sentiment_subjectivity
0   Adobe Acrobat Reader  Negative           -0.300000                0.700000
1   Adobe Acrobat Reader  Negative           -0.144444                0.561111
2   Adobe Acrobat Reader  Negative           -0.012500                0.345833
3   Adobe Acrobat Reader  Negative           -0.275000                0.566667
4   Adobe Acrobat Reader  Negative           -0.300000                0.488889
5   Adobe Acrobat Reader  Negative           -0.200000                0.552381
6   Adobe Acrobat Reader  Negative           -0.075000                0.593750
7   Adobe Acrobat Reader  Negative           -0.575000                0.900000
8   Adobe Acrobat Reader  Negative           -0.275000                0.525000
9   Adobe Acrobat Reader  Negative           -0.275000                0.950000
10  Adobe Acrobat Reader  Negative           -0.087500                0.520833
11  Adobe Acrobat Reader  Negative           -0.125000                0.500000
12  Adobe Acrobat Reader  Negative           -0.229167                0.438889
13  Adobe Acrobat Reader  Negative           -0.200000                0.050000
14  Adobe Acrobat Reader  Negative           -0.106250                0.718750
15  Adobe Acrobat Reader  Negative           -0.062500                0.558333
16  Adobe Acrobat Reader  Negative           -0.100000                0.533333
17  Adobe Acrobat Reader  Negative           -0.308333                0.591667
18  Adobe Acrobat Reader  Negative           -0.464844                0.425000
19  Adobe Acrobat Reader  Negative           -0.250000                0.933333